<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzj.risingpath_zsb_backend.mapper.CollectMapper">

    <resultMap id="BaseResultMap" type="com.yzj.risingpath_zsb_backend.domain.Collect">
            <id property="collectId" column="collectId" jdbcType="INTEGER"/>
            <result property="schoolId" column="schoolId" jdbcType="INTEGER"/>
            <result property="proId" column="proId" jdbcType="INTEGER"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        collectId,schoolId,proId,
        userId
    </sql>
</mapper>
