<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzj.risingpath_zsb_backend.mapper.NoticeMapper">

    <resultMap id="BaseResultMap" type="com.yzj.risingpath_zsb_backend.domain.Notice">
            <id property="noticeId" column="noticeId" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="publishTime" column="publishTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        noticeId,title,content,
        publishTime
    </sql>
</mapper>
